@import "tailwindcss";

@font-face {
	font-family: SeoulHangangCBL;
	font-style: normal;
	src: url("./assets/fonts/SeoulHangangCBL.ttf");
}

@font-face {
	font-family: SeoulHangangCEB;
	font-style: normal;
	src: url("./assets/fonts/SeoulHangangCEB.ttf");
}

@theme {
    --color-red: #FF6B6B;
    --color-primary: #FFBA6B;
    --color-dark: #373535;
    --color-darkest: #1E1E1E;
		--font-title: SeoulHangangCBL, sans-serif;
		--font-normal: SeoulHangangCEB, serif;
}

#root {
  max-width: 720px;
  height: max-content;
  margin: 0 auto;
  padding: 2rem;
	height: 100vh;
}

body {
	background-color: var(--color-darkest);
	color: white;
}

input {
	background-color: var(--color-dark);
}

button {
	color: var(--color-darkest)
}

button:hover {
	cursor: pointer;
	opacity: 75%;
}

button:active {
	scale: 99%;
}